.info {
    width: 230px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: aliceblue;
    padding: 10px;
}

.poster {
    width: 250px;
    height: 400px;
}